The task is to explore masked language modeling in Transformers

In [1]:
import numpy as np
import pandas as pd

from pprint import pprint
from transformers import pipeline

In [2]:
# download BBC text classification dataset
# original dataset on Kaggle: https://www.kaggle.com/datasets/shivamkushwaha/bbc-full-text-document-classification)
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

File ‘bbc_text_cls.csv’ already there; not retrieving.

In [3]:
# save the dataset in Pandas dataframe
df = pd.read_csv('bbc_text_cls.csv')

In [4]:
# check the dataset
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [5]:
# check labels
df['labels'].unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [6]:
# select business texts
business_texts = df[df['labels'] == 'business']['text']

In [15]:
# select a random text
i = np.random.choice(business_texts.shape[0])
doc = business_texts.iloc[i]

In [16]:
print(doc)

UK young top Euro earnings league

British children enjoy the highest average annual income in Europe - more than double that of Spanish or Italian youngsters, a report suggests.

Children in the UK between the ages of 10 and 17 had an annual income of £775, said market analyst Datamonitor. They use "pester power" to get their parents to stump up nearly a third of this income, the report said. As for how they spend their cash, the bulk goes on personal care, soft drinks and food, Datamonitor said.

Datamonitor adds that British teenagers are keen on personal care because it helps them combine two seemingly contradictory emotional needs - the desire to fit in and the desire to express their individuality.

British teenage girls, compared to their counterparts in seven European countries, are the most keen to use make-up products. Nearly three out of four girls said they used make-up. According to the Datamonitor report the trend marked British teenagers out as "particularly important to cosmetics manufacturers as they are likely to experiment more with brands and products and form long-term beauty routines". And the good times are likely to keep rolling for British children, as the report predicts that they will still be topping the earnings table in 2008.

In [9]:
# use the pipeline
mlm = pipeline('fill-mask')

No model was supplied, defaulted to distilroberta-base and revision ec58a5b (https://huggingface.co/distilroberta-base).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [17]:
# try random sentences with a mask
text = 'Children in the UK between the <mask> of 10 and 17 had an annual income of £775, said market analyst Datamonitor.'
pprint(mlm(text))

[{'score': 0.9955180287361145,
  'sequence': 'Children in the UK between the ages of 10 and 17 had an annual '
              'income of £775, said market analyst Datamonitor.',
  'token': 4864,
  'token_str': ' ages'},
 {'score': 0.004034961573779583,
  'sequence': 'Children in the UK between the age of 10 and 17 had an annual '
              'income of £775, said market analyst Datamonitor.',
  'token': 1046,
  'token_str': ' age'},
 {'score': 0.00022817989520262927,
  'sequence': 'Children in the UK between the years of 10 and 17 had an annual '
              'income of £775, said market analyst Datamonitor.',
  'token': 107,
  'token_str': ' years'},
 {'score': 0.00020057418441865593,
  'sequence': 'Children in the UK between the aged of 10 and 17 had an annual '
              'income of £775, said market analyst Datamonitor.',
  'token': 5180,
  'token_str': ' aged'},
 {'score': 3.930165348720038e-06,
  'sequence': 'Children in the UK between the months of 10 and 17 had an '
              'annual income of £775, said market analyst Datamonitor.',
  'token': 377,
  'token_str': ' months'}]

In [18]:
text = 'British teenage girls, <mask> to their counterparts in seven European countries, are the most keen to use make-up products.'
pprint(mlm(text))

[{'score': 0.8782907724380493,
  'sequence': 'British teenage girls, compared to their counterparts in seven '
              'European countries, are the most keen to use make-up products.',
  'token': 1118,
  'token_str': ' compared'},
 {'score': 0.03993658721446991,
  'sequence': 'British teenage girls, relative to their counterparts in seven '
              'European countries, are the most keen to use make-up products.',
  'token': 5407,
  'token_str': ' relative'},
 {'score': 0.03592807054519653,
  'sequence': 'British teenage girls, similar to their counterparts in seven '
              'European countries, are the most keen to use make-up products.',
  'token': 1122,
  'token_str': ' similar'},
 {'score': 0.010741285048425198,
  'sequence': 'British teenage girls, according to their counterparts in seven '
              'European countries, are the most keen to use make-up products.',
  'token': 309,
  'token_str': ' according'},
 {'score': 0.006287650670856237,
  'sequence': 'British teenage girls, comparable to their counterparts in '
              'seven European countries, are the most keen to use make-up '
              'products.',
  'token': 10451,
  'token_str': ' comparable'}]